<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>Walt Disney World Attractions and Rides</h1>
      <p>This is very exciting.  Soon you will be able to check out the alpha version of the Attractions section of WDW Hub!  Just like Walt Disney fortold about Disneyland, "Disneyland will never be completed. It will continue to grow as long as there is imagination left in the world," so too will this site. We will keep moving forward. Stay tuned!</p>
      
<h2></h2>  </div>
</div>
